{% extends 'base.html' %}

{% block title %}{{ post.title }}{% endblock %}

{% block page_content %}
  <br><br>
  <div>
    <h2>{{ post.title }}</h2><br>
    <h4>Author: <a href="{{ url_for('users.user_posts', username=post.author.username) }}">{{ post.author.username }}</a></h4>
    <h4>Published: {{ post.date1.strftime('%B %d, %Y, %H:%M:%S %p') }}</h4><br>
    <p>{{ post.text }}</p>
  </div>

  {% if post.author == current_user %}
    <div>
      <a href="{{ url_for('blog_posts.update', blog_post_id=post.id) }}">
        <button type="button" class="btn btn-primary" name="button">Update</button></a>
      <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#del_modal">Delete</button>
    </div>
  {% endif %}
  <div class="modal" tabindex="-1" id="del_modal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Delete Post?</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <p>Are you sure you want to delete the post?</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
          <form action="{{ url_for('blog_posts.delete_post', blog_post_id=post.id) }}" method="post">
            <input class="btn btn-danger" type="submit" value="Delete">
          </form>
        </div>
      </div>
    </div>
  </div>

{% endblock %}
